<div class="login">
  <form [formGroup]="userForm" class="custom-form" method="post">
    <h1>Login</h1>
    <input
      type="text"
      name="user"
      placeholder="usuario o mail"
      required="required"
      formControlName="user"
    />
    <input
      type="password"
      name="password"
      placeholder="Password"
      required="required"
      formControlName="password"
    />
    <button type="submit" [disabled]="!userForm.valid" (click)="login()">Log in</button>
  </form>
</div>
