<div class="login">
  <form [formGroup]="userForm" class="custom-form" style="width: 30%" method="post">
    <h1>Inicio de sesión</h1>
    <input
      type="text"
      name="user"
      placeholder="Usuario o Mail"
      required="required"
      formControlName="user"
    />
    <input
      type="password"
      name="password"
      placeholder="Contraseña"
      required="required"
      formControlName="password"
    />
    <button type="submit" [disabled]="!userForm.valid" (click)="login()">Iniciar Sesión</button>
  </form>
</div>
