div.centro {
  height: 10em;
  position: relative
}

div.centro h1 {
  margin-left: auto;
  margin-right: auto;
  width: 20em;
  text-align: center;
}

div.centro img {
  display: block;
  margin-left: auto;
  margin-right: auto
}

div.centro h2 {
  margin-left: auto;
  margin-right: auto;
  width: 15em;
  text-align: center;
}
