<div class="register">
  <form [formGroup]="browserForm" class="custom-form" (ngSubmit)="onSubmit()">
    <h1>{{titulo}}</h1>
    <div class="form">
      <div class="subtitle">
        <img [src]="imageSrc" *ngIf="imageSrc" alt="Birra">
      </div>
      <div class="input-container ic1">
        <label for="tipoProducto">Tipo Producto</label>
        <select name="tipoProducto" formControlName="tipoProducto" id="tipoProducto">
          <option disabled selected>Tipo Producto</option>
          <option [value]="0">Bebida Alcoholica</option>
          <option [value]="1">Bebida No Alcoholica</option>
          <option [value]="2">Minuta</option>
          <option [value]="3">Platos Principales</option>
          <option [value]="4">Postre</option>
          <option [value]="5">Servicio Delivery</option>
        </select>
        <div class="invalidFeedback">
          <small *ngIf="!isValidField('tipoProducto')">
            El tipo es requerido
          </small>
        </div>
      </div>
      <div class="input-container ic1">
        <label for="nombre">Nombre</label>
        <input id="nombre" class="form-control" type="text" placeholder="nombre"
               formControlName="nombre" name="nombre"/>
        <div class="invalidFeedback">
          <small *ngIf="!isValidField('nombre')">
            El nombre es requerido
          </small>
        </div>
      </div>
      <div class="input-container ic2">
        <label for="subtitulo">Subtitulo</label>
        <input type="text" class="form-control" id="subtitulo"
               formControlName="subtitulo"  name="subtitulo">
      </div>
      <div class="input-container ic2">
        <label for="descripcion">Descripcion</label>
        <textarea type="number" class="form-control" id="descripcion"
                  formControlName="descripcion"  name="descripcion" rows = 3> </textarea>
        <div class="invalidFeedback">
          <small *ngIf="!isValidField('descripcion')">
            La descripcion es requerida
          </small>
        </div>
      </div>
      <div class="input-container ic2" *ngIf="browserForm.value.tipoProducto == esBebida">
        <label for="porcentageAlcohol">PorcentageAlcohol</label>
        <input type="number" class="form-control" id="porcentageAlcohol"
               formControlName="porcentageAlcohol"  name="porcentageAlcohol">
      </div>
      <div class="input-container ic2">
        <label for="stock">Stock inicial (En unidades)</label>
        <input type="number" class="form-control" id="stock"
               formControlName="stock"  name="stock">
        <div class="invalidFeedback">
          <small *ngIf="!isValidField('stock')">
            El stock es requerido y debe ser 0 o mayor.
          </small>
        </div>
      </div>
      <div class="input-container ic2">
        <label for="nota">Nota</label>
        <input type="text" class="form-control" id="nota"
               placeholder="nota" formControlName="nota" name="nota">
        <div class="invalidFeedback">
          <small *ngIf="!isValidField('nota')">
            El nota es requerida
          </small>
        </div>
      </div>
      <div class="input-container ic2">
        <label for="precio">Precio</label>
        <input type="text" class="form-control" id="precio"
               placeholder="precio" formControlName="precio" name="precio">
        <div class="invalidFeedback">
          <small *ngIf="!isValidField('precio')">
            El precio es requerido y debe ser 1 o mayor.
          </small>
        </div>
      </div>
      <div class="input-container ic2" [hidden]="isViewMode">
        <label for="base64Image">Foto</label>
        <input
          formControlName="base64Image"
          id="base64Image"
          type="file"
          class="form-control"
          (change)="onFileChange($event)">
        <div *ngIf="f['base64Image'].touched && f['base64Image'].invalid" class="alert alert-danger">
          <div *ngIf="f['base64Image'].errors && f['base64Image'].errors['required']">La foto es necesaria.</div>
        </div>
      </div>
      <button type="submit" class="btn btn-success submit" [hidden]="isViewMode" [disabled]="!browserForm.valid">Agregar</button>
      <br>
      <button type="button" class="btn btn-default return" (click)="regresar()">Volver</button>
    </div>
  </form>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
