<div class="register">
  <form [formGroup]="userRegisterForm"  class="custom-form" method="post">
    <h1>Registro de usuario</h1>
    <input
      type="text"
      name="nombre"
      placeholder="nombre"
      required="required"
      formControlName="nombreUsuario"
    />
    <div class="invalidFeedback">
      <small *ngIf="!isValidField('nombreUsuario')">
        El nombree es requerido
      </small>
    </div>
    <input
      type="number"
      name="dni"
      placeholder="dni"
      formControlName="dni"
    />
    <input
      type="text"
      name="nro. telefono"
      placeholder="nro. telefono"
      formControlName="telefono"
    />
    <input
      type="email"
      name="email"
      placeholder="Email"
      required="required"
      email="true"
      formControlName="mail"
    />
    <div class="invalidFeedback">
      <small *ngIf="!isValidField('mail')">
        El email es requerido y debee poseer formato de mail. Ejemplo: nombre@mail.com
      </small>
    </div>
    <select name="tipo" formControlName="tipo">
      <option disabled selected>Tipo Usuario</option>
      <option [value]="0">Admin</option>
      <option [value]="1">Mozo</option>
      <option [value]="2">Delivery</option>
      <option [value]="3">Cliente</option>
    </select>
    <input
      type="password"
      name="password"
      placeholder="contraseña"
      required="required"
      formControlName="password"
    />
    <div class="invalidFeedback">
        <small *ngIf="!isValidField('password')">
            La contraseña debe poseer 8 caracteres, Al menos una letra en minuscula, 1 en mayuscula y un número.
        </small>
    </div>
    <input
      type="password"
      name="password"
      placeholder="Repetir contraseña"
      formControlName="confirmPassword"
    />
    <div class="invalidFeedback">
      <small *ngIf="!isValidField('confirmPassword')">
        Las contraseñas deben ser iguales
      </small>
    </div>
    <button type="submit" [disabled]="!userRegisterForm.valid" (click)="register()">Register</button>
  </form>
</div>
<br>
<br>
<br>
<br>
<br>

